<html>
    <head>
        <title>HISTOGRAM TEMPOV</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/static/css/statistika.css">
    </head>
    <body>
        <table>
        <tr>
            <td>
                <h2>Tempi treningov</h2>
            </td>
        </tr>
        %for el in hist:
        <tr>
            <td>
                <h2>{{el}}</h2>
            </td>
        </tr>
        %end
        </table>
        %import matplotlib.pyplot as plt
        %import numpy as np
        %import mpld3
        %values = np.array(hist)
        %html_graph = mpld3.fig_to_html(plt.gcf())
        %plt.close()
        %with open("output.html", "w") as f:
        %f.write(html_graph)
    </body>
</html>