<html>
    <head>
        <title>Prijava</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/static/css/kalkulator.css">
    </head>
    <body>
        <table>
            <tr>
                <td colspan="2">
                    <h1>Prijava</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Uporabniško ime</h2>
                </td>
                <td>
                    <form>
                        <input type="text" id="username" name="username" class= "my-input" />
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Geslo</h2>
                </td>
                <td>
                    <form>
                        <input type="text" id="password" name="password" class= "my-input" />
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>