<html>
    <head>
        <title>Prijava</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/static/css/kalkulator.css">
    </head>
    <body>
        <table>
            <form action="/prijavi_se/">
                <tr>
                    <td colspan="2">
                        <h1>Prijava</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Uporabniško ime</h2>
                    </td>
                    <td>
                        <input type="text" id="username" name="username" class= "my-input" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Geslo</h2>
                    </td>
                    <td>
                        <input type="password" id="password" name="password" class= "my-input" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input class="my-input" type="submit" value="Prijava"/>
                    </td>
                </tr>
            </form>
        </table>
    </body>
</html>