<html>
    <head>
        <title>Rezultati</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="static/css/tekaski.css">
    </head>
    <body>
        <table border="0" cellspacing="0" cellpading="0" width="90%" align="center">
            <tr>
                <td colspan="4" align="center">
                    <h1>Rezultati</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Kraški</h2>
                </td>
                <td>
                    <h2>Blejski</h2>
                </td>
                <td>
                    <h2>Ljubljanski</h2>
                </td>
                <td>
                    <h2>Kranjski</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="/kraski22_10m/">
                        <input type="submit" value="Kraška 10ka, moški, 2022"/>
                    </form>
                </td>
                <td>
                    <form action="/blejski22_10m/">
                        <input type="submit" value="Nočna 10ka, moški, 2022"/>
                    </form>
                </td>
                <td>
                    <form action="/ljub22_10m/">
                        <input type="submit" value="Ljubljanski, 10km, moški, 2022"/>
                    </form>
                </td>
                <td>
                    <form action="/kranj22_10m/">
                        <input type="submit" value="Kranj, 10km, moški, 2022"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="/kraski22_10z/">
                        <input type="submit" value="Kraška 10ka, ženske, 2022"/>
                    </form>
                </td>
                <td>
                    <form action="/blejski22_10mz">
                        <input type="submit" value="Nočna 10ka, ženske, 2022"/>
                    </form>
                </td>
                <td>
                    <form action="/ljub22_10z/">
                        <input type="submit" value="Ljubljanski, 10km, ženske, 2022"/>
                    </form>
                </td>
                <td>
                    <form action="/kranj22_10z/">
                        <input type="submit" value="Kranj, 10km, ženske, 2022"/>
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>
