<html>
    <head>
        <title>Urejanje profila</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/static/css/kalkulator.css">
    </head>
    <body>
        <table>
            <form method="POST" action="/posodobi_profil/">
                <tr>
                    <td colspan="2">
                        <h1>Posodobitev profila</h1>
                    </td>
                </tr>
                <tr><td><h3>Izpolni vsa polja!</h3></td></tr>
                <tr>
                    <td>
                        <h2>Ime in priimek</h2>
                    </td>
                    <td>
                        <input type="text" id="username" name="name" class= "my-input"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Spol</h2>
                    </td>
                    <td>
                        <h3>Moški:</h3><input type="checkbox" id="username" name="gender" value="M" class= "my-input" />
                        <h3>Ženski:</h3> <input type="checkbox" id="username" name="gender" value="Z" class= "my-input" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Leto rojstva</h2>
                    </td>
                    <td>
                        <input type="number" id="year" name="year" class= "my-input"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Geslo</h2>
                    </td>
                    <td>
                        <input type="password" id="password" name="password" class= "my-input" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Potrdi geslo</h2>
                    </td>
                    <td>
                        <input type="password" id="password" name="password1" class= "my-input" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input class="my-input" type="submit" value="Posodobi"/>
                    </td>
                </tr>
            </form>
        </table>
    </body>
</html>