table {
    margin: 0 auto;
    background-color: aqua;
}
body {
    background-image: url(/static/slike/runner_2.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
.my-input {
    width: 300px;
    height: 80px;
    font-size: 50px;
    display: inline-block;
}

.one-liner {
    display: inline-block;
}

.your-input {
    width: 300px;
    height: 80px;
    font-size: 50px;
    background-color: lightcoral;
}

